<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rebecca Lynn Cremona</title>
    <link href="//fonts.googleapis.com/css?family=Coming+Soon" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  </head>
  <main class="middle center">
    {{ content }}
    <nav>
      <ul>
        <li><a href="{{ site.baseurl }}/about/">about</a></li>
      </ul>
    </nav>
  </main>

</html>
